:root{
  --board-border: 5px solid black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

button{
  padding: 10px;
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 2px;
}

#gameBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#table {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  align-items: center;
  
}

.square {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.square:nth-child(3n+1),
.square:nth-child(3n+2) {
  border-right: var(--board-border);
}

.square:nth-child(4),
.square:nth-child(5),
.square:nth-child(6) {
  border-top: var(--board-border);
  border-bottom: var(--board-border);
}

.playText{
  margin: 1rem 0;
}