:root{
  --board-border: 5px solid black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

button{
  padding: 10px;
  background-color: rgb(241, 241, 241);
  color: black;
  border: none;
  border-radius: 2px;
  width: 100%;
}

button:hover{
  filter: brightness(.9);
}

input[type='text']{
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
}

label {
  margin-bottom: 5px;
}

#game{
display: flex;
justify-content: center;
align-items: center;
padding: 0 20px;
height: 50vh;
}

#start{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

#gameBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#table {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  align-items: center;

}

.hide{
  display: none !important;
}

.square {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.buttons {
  display: flex;
  width: 100%;
  gap: 10px;
}

.square:nth-child(3n+1),
.square:nth-child(3n+2) {
  border-right: var(--board-border);
}

.square:nth-child(4),
.square:nth-child(5),
.square:nth-child(6) {
  border-top: var(--board-border);
  border-bottom: var(--board-border);
}

.playText{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}